body {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

container {
    display: grid;
    min-height: 100vh;
    grid-template: 1fr 7.5fr / 1fr 4fr;
}


/* ********************************************************************************************** */


/* header */

.header {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    /* background-color: #355188; */
    background: rgb(255, 165, 0);
    background: linear-gradient(0deg, rgba(255, 165, 0, 1) 0%, rgba(34, 55, 195, 1) 42%);
    padding: 10px 0 5px;
    height: 130px;
}

button {
    border: none;
    background: white;
}

.search img {
    width: 30px;
}

input.searchbar {
    border: none;
    background: whitesmoke;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    height: 28px;
    flex-grow: 1;
    justify-self: start;
    align-self: center;
}

div.search {
    grid-area: 1/1/2/2;
    grid-auto-flow: column;
    align-self: center;
    padding-left: 20px;
    gap: 5px;
    display: flex;
    flex-grow: 1;
}

.profile img {
    width: 50px;
}

.bell img {
    width: 25px;
}

button.search {
    justify-self: end;
    background-color: #2237c3;
}

.bell {
    padding: 0;
    justify-self: end;
    background-color: #2237c3;
}

.profile {
    padding: 0;
    justify-self: center;
    background-color: #2237c3;
}

.user-name {
    padding: 0;
    display: flex;
    justify-self: start;
    align-self: center;
    font-size: 18px;
    color: whitesmoke;
}

.greeting {
    display: grid;
    grid-auto-flow: column;
    justify-self: start;
    align-self: center;
    gap: 10px;
    padding: 0 20px;
}

.greeting img {
    width: 70px;
}

.greeting .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
    line-height: 0.7;
}

.greeting .text .hi {
    font-size: 14px;
}

button.new,
button.upload,
button.share {
    background: #0F1624;
    height: 30px;
    width: 100px;
    border-radius: 25px;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    align-self: center;
    cursor: pointer;
}

button.new:hover,
button.upload:hover,
button.share:hover {
    background-color: #343f88;
    color: white;
    transition: all ease-in-out;
    transition-duration: 0.7s;
    transform: scale(1.1);
}

button.new {
    justify-self: end;
}

button.upload {
    justify-self: center;
}

button.share {
    justify-self: start;
}


/* ********************************************************************************************** */


/* sidebar */

.sidebar {
    /* background-color: #0F1624; */
    background: rgb(255, 165, 0);
    background: linear-gradient(0deg, rgba(255, 165, 0, 1) 0%, rgba(34, 55, 195, 1) 57%);
    grid-row: 1/3;
    grid-column: 1/2;
    color: white;
}

.logo {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    place-content: start;
    gap: 15px;
    padding-left: 30px;
    font-size: 25px;
}

.logo .dash-icon {
    width: 50px;
}

.sidebar .main-links ul li,
.secondary-links ul li {
    list-style: none;
    font-size: 17px;
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    justify-content: start;
    align-items: center;
    line-height: 0.5rem;
    cursor: pointer;
}

.sidebar .main-links ul li:hover,
.secondary-links ul li:hover {
    background-color: #1a2844;
    transition: all ease-in-out;
    transition-duration: 0.7s;
    transform: scale(1.1);
    overflow: hidden;
    width: 200px;
    padding: 0 15px;
    border-radius: 5px;
}

.main-links {
    margin-bottom: 70px;
}

.sidebar img {
    width: 25px;
}


/* ********************************************************************************************** */


/* main */

.main {
    position: relative;
    z-index: 1;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr / 3fr 1fr;
    gap: 30px;
    padding: 10px 20px;
    padding-bottom: 50px;
    /* background-image: ; */
    /* opacity: 0.5; */
    background-size: cover;
}

.main {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0 100%), url("./assets/red.jpeg");
    background-repeat: repeat;
    background-size: 200px;
}

.project-container {
    grid-area: 1/1/3/3;
    flex-direction: column;
}

.project img {
    width: 325px;
}

.project-container article {
    /* flex: 1; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
    padding-bottom: 0;
    gap: 30px;
}

.project-container .project {
    padding: 10px;
    background: white;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-left: 10px solid orange;
    border-radius: 5px;
    display: grid;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.project-container .head {
    font-size: 25px;
    font-weight: bolder;
    margin: 0 0 5px 0;
    padding: 3px 0;
    background-color: white;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.project .icons {
    display: grid;
    grid-auto-flow: column;
    place-content: end;
}

.project .icons img {
    width: 20px;
}


/* announcement styles */

.announcement {
    display: grid;
    grid-template: 1fr / 1fr;
    margin-right: 10px;
}

.announcement .head {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}

.announcement article {
    background-color: whitesmoke;
    border-radius: 10px;
}

.announcement article .announce {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 5px;
}

.announcement article div {
    padding: 10px;
    font-size: 15px;
}

.announcement article .line {
    border-bottom: orange solid 0.5px;
    width: 85%;
    margin: 0 auto;
}

.trending .head {
    font-size: 20px;
    font-weight: bold;
}

.trending {
    grid-area: 2/3;
    margin-right: 10px;
}

.trending article .trendy {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.trending article {
    background-color: whitesmoke;
    border-radius: 10px;
}

.trending article div {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    line-height: 20px;
    gap: 15px;
    padding: 10px 10px;
}

.trending .trending-user img {
    border-radius: 30px;
}


/* ********************************************************************************************** */